<br>

<h1>¿Quienes Somos?</h1>


<div class="fondoclas">
    <div class="container overflow-hidden text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-12"><img src="./assets/bannerjugueteria.png" alt="" width="50%" class="imagen"></div>
            </div>
        </div>
        <div class="row gx-5">
             <div class="col">
                <div class="p-12">
                    <p>Si estás buscando un lugar donde la diversión y la imaginación se unen, no busques más allá de
                        CrazyToys, la
                        juguetería más emblemática de Argentina. Con más de tres décadas de historia, CrazyToys ha sido
                        el destino de
                        elección para niños y niñas de todas las edades que buscan explorar un mundo de juguetes
                        emocionantes y
                        creativos.
                        <br><br>

                       
                        CrazyToys abrió sus puertas por primera vez en 1987, en el corazón de Buenos Aires, y desde
                        entonces, ha estado
                        proporcionando sonrisas y alegría a generaciones de argentinos. Con el compromiso constante de
                        ofrecer productos
                        de alta calidad y una experiencia de compra excepcional, CrazyToys se ha ganado la confianza de
                        las familias en
                        todo el país.
                        <br><br>
                        Sucursales:
                        Lo que comenzó como una pequeña tienda en Buenos Aires se ha convertido en una red de sucursales
                        que se extiende
                        por toda Argentina. Con sucursales en las principales ciudades y regiones del país, CrazyToys
                        está más cerca que
                        nunca de ti:
                        <br><br>
                        Buenos Aires, Capital Federal: La sucursal original, ubicada en el corazón de la ciudad, sigue
                        siendo un lugar
                        icónico para visitar.
                        <br><br>
                        Córdoba: En la hermosa ciudad de Córdoba, encontrarás otra sucursal de CrazyToys, ofreciendo la
                        misma calidad y
                        variedad de juguetes que te esperas.
                        <br><br>
                        Mendoza: Los habitantes de Mendoza también pueden disfrutar de la magia de CrazyToys en su
                        propia ciudad.
                        <br><br>
                        Rosario: En el núcleo de la provincia de Santa Fe, CrazyToys tiene una sucursal que hace las
                        delicias de los
                        niños rosarinos.
                        <br><br>
                        Mar del Plata: En la costa atlántica, en Mar del Plata, CrazyToys ofrece un oasis de diversión
                        para los
                        visitantes y residentes por igual.
                        <br><br>
                        Tucumán: En el noroeste de Argentina, la sucursal de CrazyToys en Tucumán es un destino popular
                        para los más
                        pequeños.
                        <br><br>
                        Estas son solo algunas de las sucursales que CrazyToys tiene a lo largo de Argentina. Cada una
                        de ellas está
                        diseñada para ofrecer una experiencia única de compra de juguetes y está llena de personal
                        amable y conocedor
                        que está dispuesto a ayudarte a encontrar el juguete perfecto para cada ocasión.
                        <br><br>
                        CrazyToys sigue siendo el lugar donde los sueños se hacen realidad y donde la diversión nunca
                        termina. Con años
                        de experiencia y un compromiso continuo con la calidad, CrazyToys se enorgullece de ser un pilar
                        en la comunidad
                        de jugueterías de Argentina. ¡Ven y únete a la diversión en CrazyToys hoy mismo!
                    </p>
                </div>
            </div>
        </div>
           
        
    </div>




</div>
<br>