<br>
<h1>Bienvenidos a CrazyToys</h1>






<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/Ofertas.png" class="d-block w-100" alt="ofer">
        </div>
        <div class="carousel-item">
            <img src="./assets/oferlego.png" class="d-block w-100" alt="le">
        </div>
        <div class="carousel-item">
            <img src="./assets/oferhot.png" class="d-block w-100" alt="ho">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<h1>Mas Vendidos</h1>
<div class="container text-center">
    <div class="row g-2">
        <div class="col-3">
            <div class="p-3">
                <div class="card-grid">
                    <div class="card">
                        <img src="./assets/nene4.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><b>Guante de Thanos</b></h5>
                            <p class="card-text"><b>$12.500</b></p>
                            <a href="#" class="hidden-button">Comprar</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3">
                <div class="card-grid">
                    <div class="card">
                        <img src="./assets/masas.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><b>Set x6 Play-Doh</b></h5>
                            <p class="card-text"><b>$2.500</b></p>
                            <a href="#" class="hidden-button">Comprar</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3">
                <div class="card-grid">
                    <div class="card">
                        <img src="./assets/nene11.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><b>Set Lego CREATOR</b></h5>
                            <p class="card-text"><b>$7.500</b></p>
                            <a href="#" class="hidden-button">Comprar</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3">
                <div class="card-grid">
                    <div class="card">
                        <img src="./assets/nene12.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><b>Set Dinosaurios</b></h5>
                            <p class="card-text"><b>$3.500</b></p>
                            <a href="#" class="hidden-button">Comprar</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3">
                <div class="card-grid">
                    <div class="card">
                        <img src="./assets/nene9.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><b>x2 Camiones de Carga</b></h5>
                            <p class="card-text"><b>$2.750</b></p>
                            <a href="#" class="hidden-button">Comprar</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3">
                <div class="card-grid">
                    <div class="card">
                        <img src="./assets/nene1.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><b>Autos de Carreras</b></h5>
                            <p class="card-text"><b>$5.200</b></p>
                            <a href="#" class="hidden-button">Comprar</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3">
                <div class="card-grid">
                    <div class="card">
                        <img src="./assets/disfraz4.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><b>Disfraz Superman</b></h5>
                            <p class="card-text"><b>$5.000</b></p>
                            <a href="#" class="hidden-button">Comprar</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="p-3">
                <div class="card-grid">
                    <div class="card">
                        <img src="./assets/nena2.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><b>Muñeca Nenuco</b></h5>
                            <p class="card-text"><b>$5.000</b></p>
                            <a href="#" class="hidden-button">Comprar</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h1>¡Los esperamos!</h1>
<!-- 
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let pro of producto">
        <div class="card h-100">
            <img src="./assets/nene{{pro}}.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
-->
